{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Магазин на диване</title>
</head>
<body>
<div class="header">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/products">Products</a>
    <a href="/products/new">New product</a>
</div>
<div>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
        <p><a href="{% url 'logout' %}"></a></p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="/accounts/signup">Sign Up</a>
    {% endif %}
</div>
{% block content %}

{% endblock %}
</body>
</html>